
/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
}

p {
  border: 1px solid black;
  background-color: #A52A2A;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop only **********/
@media (min-width: 992px) {
   .col-md-4 {
    float: left;
    border: 1px solid green;
    width: 33.33%;
  }
}

/********** Tablet only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-6 {
    float: left;
    border: 1px solid green;
    width: 50%;
  }
}

/********** Mobile only **********/
@media (max-width: 767px) {
  .col-xs-12 {
    float: left;
    border: 1px solid green;
    width: 100%;
  }
}
